.container
	.row
		.col-lg-12
			form.form-inline
				.form-group
					label(for="videoID").sr-only YouTube ID
					input(ng-model="newVideo.id" placeholder="YouTube ID e.g. se4cgYFaVas").form-control#videoID
				button(ng-click="createVideo()").btn.btn-success Add Video
