//- md-toolbar.md-hue-2
	.md-toolbar-tools
		md-button(ng-click='toggleLeft()' hide-gt-md='').md-icon-button
			li.fa.fa-bars
		h2
			span Classroom Assessment
		span(flex='')

//- md-button(ng-click='toggleLeft()' hide-gt-md='').md-icon-button

//- md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')", md-whiteframe='12')
md-toolbar.md-theme-indigo
	h1.md-toolbar-tools Teach TV

