md-button(ng-click='goBack()').md-fab.md-mini.md-primary
	i.fa.fa-arrow-left

md-content
	#playerVideo
	h3.media-heading{{video.youtube.snippet.title}}
	h4  - {{video.youtube.snippet.channelTitle}}
	p Views: {{video.youtube.statistics.viewCount}}
	h3 {{video.currentTime}}
